[submodule "ViewNavigator"]
	path = ViewNavigator
	url = https://github.com/rareMaxim/ViewNavigator.git
[submodule "FluentUI"]
	path = FluentUI
	url = https://github.com/rareMaxim/FluentUI.git
[submodule "horse"]
	path = horse
	url = https://github.com/HashLoad/horse.git
